<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>post_list</title>
</head>
<body>
    {% for post in posts %}
    저자: {{post.author}} <br>
    제목: {{post.title}} <br>
    내용: {{post.text}}<br>
    {% if post.created_date %}
    작성일: {{post.created_date}}<br>
    {%endif%}
    {% if post.published_date %}
    작성일: {{post.published_date}}<br>
    {%endif%}
    <br>
    {% endfor %}
</body>
</html>